<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randallma.shukudai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.randallma.shukudai.MainActivity"
            android:configChanges="orientation" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.randallma.shukudai.PostAssignmentActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_post_assignment"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.randallma.shukudai.AssignmentActivity"
            android:label="@string/title_activity_assignment"
            android:parentActivityName="com.randallma.shukudai.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="shukudaik.MainActivity" />
        </activity>
        <activity
            android:name="com.randallma.shukudai.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <service android:name="com.randallma.shukudai.AssignmentDueService" />

        <activity
            android:name="com.randallma.shukudai.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.randallma.shudukai.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.randallma.shudukai.MainActivity" />
        </activity>
        <activity
            android:name="com.randallma.shukudai.ManageSchoolClassActivity"
            android:label="@string/title_activity_manage_school_class"
            android:parentActivityName="com.randallma.shukudai.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.randallma.shukudai.MainActivity" />
        </activity>
    </application>

</manifest>